@{
    ViewData["Title"] = "About Us";
}

<style>
    body {
        color: white
    }

    .btn {
        background-color: #11212D
    }
</style>

<div class="container mt-4">
    <h1>About Us</h1>
    <p>Welcome to PUCIT Car Rentals! We are a leading car rental service, committed to providing our customers with a wide range of vehicles, from economy cars to luxury models. Whether you're planning a road trip or need a vehicle for a business trip, we have you covered!</p>

    <h3>Our Mission</h3>
    <p>At PUCIT Car Rentals, our mission is to offer reliable, affordable, and convenient transportation options to travelers, whether for business or leisure. We aim to provide top-quality customer service and ensure that every rental experience is hassle-free.</p>

    <h3>Why Choose Us?</h3>
    <ul>
        <li>Affordable Prices: Get the best prices without compromising on quality.</li>
        <li>Wide Range of Vehicles: Choose from a variety of cars based on your needs.</li>
        <li>24/7 Customer Support: We're here to help, no matter the time or place.</li>
        <li>Easy Booking: Simple and fast online booking for your convenience.</li>
    </ul>

    <h3>Our Fleet</h3>
    <p>Our fleet includes a diverse range of vehicles, from compact city cars to SUVs and luxury cars, so you can choose the vehicle that suits your travel style and budget.</p></br>
    <p>Are you making a plan for a memorable vacation trip of city Lahore at this Ramadan ? We are delighted to share our exclusive rent a car deals for the month of March-2025, which will make your vacation trip as easy and cost effective. Our large fleet of vehicles with best rent a car services Is waiting for you to explore the City Lahore.</p>
</div>

@* <a href="" class="btn btn-primary mt-4 mb-4">Back to Dashboard</a> *@


@* @section ProductsLink { *@
@*     <a class="nav-link" >Products</a> *@
@* } *@

@* @section HomeLink { *@
@*     <a class="nav-link" >Home</a> *@
@* } *@